<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Plants Index</title>
    </head>
    <body>
        <header>
            Welcome to the Jungle
        </header>
        <nav>
            <ul>
                <li><a href="/plants">Home</a></li>
                <li><a href="/plants/new">Log a new plant</a></li>
            </ul>
        </nav>
        <div class="container">
            <%for (let plant of plants){ %>
                <div class="plant-card">
                    <a href="/plants/<%=plant._id%>"><h2><%=plant.commonName%></h2></a>
                    <a href="/plants/<%=plant._id%>"><img src="<%=plant.photo%>" alt="<%=plant.commonName%>"/></a>
                    <!-- edit button -->
                </div>
            <%}%>
        </div>
    </body>
</html>
