<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <%- include ('../partials/header.ejs') %>
        <div class="index-container">
            <%for (let plant of plants){ %>
                <div class="plant-card">
                    <a href="/plants/<%=plant._id%>"><h2><%=plant.commonName%></h2></a>
                    <a href="/plants/<%=plant._id%>"><img src="<%=plant.photo%>" alt="<%=plant.commonName%>"/></a>
                    <button type="button" name="button"><a href="/plants/<%=plant._id%>/edit">EDIT</a></button>
                </div>
            <%}%>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
